{% extends "auctions/layout.html" %}

{% block body %}
  <div class="Watchlist">
    <form action="{% url 'watchlist' id=listing.id %}" method="POST">
      {% csrf_token %}
          {% if watchlistitem %}
            <input class="button" type="submit" value="Remove from watchlist">
          {% else %}
            <input class="button" type="submit" value="Add to Watchlist">
          {% endif %}
    </form>
  <div>

  <div class="auction">
    <br>
    <div class="photo">
      {% if listing.photo %}
        <img src="{{ listing.photo }}">
      {% endif %}
    </div>

    <div class="info">
      <h2> {{ listing.title }} - {{ listing.category }} </h2>
      <h4> Price: €{{ listing.price }}</h4>
      <h5> Description </h5>
      <p> {{ listing.description }} </p>
      <p> Sold by: {{ listing.seller }} </p>




      {% if user == listing.seller %}
        <form action="{% url 'bidorclose' id=listing.id %}" method="POST">
          {% csrf_token %}
          <input class="button" type="submit" value="Close">
        </form>
      {% else %}
        <form action="{% url 'bidorclose' id=listing.id %}" method="POST">
          {% csrf_token %}
          <input type="number" name="bid" min="{{ listing.price }}">
          <input type="submit" class="button" value="Bid">
        </form>
      {% endif %}
    </div>
  </div>


  <div class="commentsection">
    <h3> Comments </h3>
    <form action="{% url 'comment' id=listing.id %}" method="POST">
      {% csrf_token %}
      <input type="text" name="comment">
      <input class="button" type="submit" value="Post">
    </form>
    <br>
    {% for comment in comments %}
      <p> <strong>{{ comment.user }}</strong>: {{comment.post}} </p>
    {% endfor %}
  </div>
{% endblock %}
